body, html {
    background: $very-light-grey;
}
#header {
    border-top: 3px solid $flashy-yellow;
    border-bottom: 1px dashed $brown;
    background-color: $header-background;
}
#content-wrapper {
    padding: 50px 0;
    border-bottom: 1px solid $light-grey;
}
#footer {
    background: $light-grey;
    border-top: 1px solid $header-background;
    font-size: 0.8em;
    line-height: 2em;
    color: $grey;
    text-shadow: 0 1px 0 $light-grey;
    min-height: 6em;
}
.body-wrapper {
    @include grid-row($behavior: false);
}
section[role=main] {
    @include grid-column($columns: 12, $last-column: true);
    @include box-sizing(border-box);
}
