// Make sure the charset is set appropriately
@charset "UTF-8";

.clermontjs-event-label {
    display:block;
    height: 100%;
    border-left: 10px solid transparent;
    border-right: 1px solid transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    @include side-radius($side: right, $radius: $global-radius - 1);
}

.clermontjs-event {

    &.list-item {
        position: relative;
        padding-right: 20px;
        @include panel($panel-event);
        @include radius($radius: $global-radius);

        &.upcoming {
            &::before {
                content: '';
                border-color: $flashy-yellow;
                @extend .clermontjs-event-label;
            }
        }
        &.past {
            &::before {
                content: '';
                border-color: $light-brown;
                @extend .clermontjs-event-label;
            }
        }
    }

    &.details {
        @include panel($panel-event);
        @include radius($radius: $global-radius);
    }

}
.clermontjs-event-title {
    // Add an icon to event title.
    &:before {
        @extend .fi-projection-screen:before;
        margin-right: 0.5em;
    }
    // set color depending on the timeline.
    // wether event is in the future or past, it will get the according class.
    &.upcoming, &.upcoming:before {
        color: $flashy-yellow;
    }
    &.past, &.past:before {
        color: $brown;
    }
}
.clermontjs-event-map-title {
    &:before {
        @extend .fi-map:before;
        margin-right: 0.5em;
    }
}
.clermontjs-event-ticket-title {
    &:before {
        @extend .fi-ticket:before;
        margin-right: 0.5em;
    }
}
.map.center {
    display: block;
    margin: 1em auto;
    max-width: 600px;
}
