// Make sure the charset is set appropriately
@charset "UTF-8";

.clermontjs-event-label {
    display:block;
    height: 100%;
    border-left: 10px solid transparent;
    border-right: 1px solid transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    @include side-radius($side: right, $radius: $global-radius - 1);
}

.clermontjs-event {

    &.list-item {
        position: relative;
        padding-right: 20px;
        @include panel($panel-event);
        @include radius($radius: $global-radius);

        &.upcoming {
            &::before {
                content: '';
                border-color: $flashy-yellow;
                @extend .clermontjs-event-label;
            }
        }
        &.past {
            &::before {
                content: '';
                border-color: $light-brown;
                @extend .clermontjs-event-label;
            }
        }
    }

    &.details {
        @include panel($panel-event);
        @include radius($radius: $global-radius);
    }

}
.clermontjs-event-title {
    // Add an icon to event title.
    &:before {
        @extend .fi-projection-screen:before;
        margin-right: 0.5em;
    }
    // set color depending on the timeline.
    // wether event is in the future or past, it will get the according class.
    &.upcoming, &.upcoming:before {
        color: $flashy-yellow;
    }
    &.past, &.past:before {
        color: $brown;
    }
}
.clermontjs-event-map-title {
    &:before {
        @extend .fi-map:before;
        margin-right: 0.5em;
    }
}
.clermontjs-event-ticket-title {
    &:before {
        @extend .fi-ticket:before;
        margin-right: 0.5em;
    }
}
.clermontjs-event-video{
    .fi-play-video:before{
        font-size: 1.8em;
        vertical-align: middle;
    }
}

.clermontjs-event-video-player {

    &.fullscreen{
        position:relative;
        width: 100%;
        height: 100%;
        .clermontjs-event-slidescontainer{
            position:absolute;
            width: 100%;
            height: 100%;
        }

        .clermontjs-event-videocontainer {
            position:absolute;
            width: 373px;
            height: 210px;
            z-index: 100;
            margin: 8px 3px;
        }

        @media #{$small-up} {
            .clermontjs-event-videocontainer {
                position:absolute;
                width: 200px;
                height: 112px;
                z-index: 100;
                margin: 8px 3px;
            }
        }

        @media #{$medium-up} {
            .clermontjs-event-videocontainer {
                position:absolute;
                width: 200px;
                height: 112px;
                z-index: 100;
                margin: 8px 3px;
            }
        }

        @media #{$large-up} {
            .clermontjs-event-videocontainer {
                position:absolute;
                width: 373px;
                height: 210px;
                z-index: 100;
                margin: 8px 3px;
            }
        }
    }

    .clermontjs-event-videocontainer {
        width: 560px;
        height: 315px;
        margin: 0 auto 1em;
    }

    .clermontjs-event-slidescontainer{
        width: 928px;
        height: 522px;
        margin: 0 auto 1em;
    }

    @media #{$small-up} {
        .clermontjs-event-videocontainer {
            width: 500px;
            height: 281px;
        }

        .clermontjs-event-slidescontainer{
            width: 500px;
            height: 281px;
        }
    }

    @media #{$medium-up} {
        .clermontjs-event-videocontainer {
            width: 560px;
            height: 315px;
        }

        .clermontjs-event-slidescontainer{
            width: 560px;
            height: 315px;
        }
    }

    @media #{$large-up} {
        .clermontjs-event-videocontainer {
            width: 560px;
            height: 315px;
        }

        .clermontjs-event-slidescontainer{
            width: 928px;
            height: 522px;
        }
    }
}



.map.center {
    display: block;
    margin: 1em auto;
    max-width: 600px;
}
